@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h3 id="emailText"></h3>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/jquery.signalR-2.2.1.js"></script>
<script src="~/signalr/hubs"></script>

<script>
    var emailhub = $.connection.myHub;
    emailhub.client.showEmail = function (email) {
        emailText.innerText = email;
    };
    $.connection.hub.start().done(function () {
        @{ 
            if(User.Identity.IsAuthenticated)
            {
                <text> emailhub.server.hello(); </text>
            }
        }
    });

</script>