@using Weacts.Models
@model LoginViewModel

<div class="row">
    <div class="col-md-11">
        <h1>Hello! Please choose a way to Log-In.</h1>
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}